<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<a th:href="@{/users/form}"><input type="button" value="Add User"></a>
<table border="1">
    <tr>
        <td>ID</td><td>EMAIL</td><td>NAME</td>
    </tr>
    <tr th:if="${usersList.size() eq 0}">
        <td colspan="3">no messages</td>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{'/users/'+${user.getId()}}" th:text="${user.getName()}"></a>
        </td>

    </tr>
</table>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>